.wrapper {
  background: #23252C;
  width: 558px;
  height: 800px;
  position: relative;
  left: 350px;
}
.App {
  background: #1A1B21;
  color: #DCDCDC;
  width: 317px;
  position: absolute;
  top: 30px;
  left: 116px;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1px;
}
